<div class="column boderDiv" style='padding:10px; margin: 10px;' >
    {% for post in posts %}
    <div class="boderDiv" style='padding:10px'>
      {% if post.media %}
      <div>
        <img class="post-img" src="{{ post.media.url }}" style="max-height: 400px; max-width: 400px;">
      </div>
      {% endif %}

      <div>
        <div style="max-width: 800px;">
          <p style="word-wrap: break-word;">
            {{ post.text }}
          </p> 
        </div>
        <div>
          PostedOn: {{ post.postDate }}
        </div>
        <div>
          PostedBy: <a href="/{{ post.user }}">{{ post.user }}</a>
        </div>
      </div>
    </div>
    {% endfor %}
    <div>
      TEST DIV ME
    </div>
  </div>
  