<div class="navBar boderDiv">
  {% if user.is_authenticated %}
  <div >
    {% if user_profile.profileImage %}
    <div class="row">
      <div>
        <a href="/user_home">
          <img src="{{ img_url }}" class="dp" />
        </a>
      </div>
      <div>{{ user.username }}</div>
    </div>
    {% else %}
    <div>
      <a href="/user_home">Profile</a>
    </div>
    {% endif %}
  </div>

  {% else %}

  <div>
    <a href="/login">Login</a>
  </div>

  {% endif %}

  <div>
    <form class="search-bar" method="POST" action="{% url 'search-user'%}">
      {% csrf_token %}
      <input type="search" placeholder="search" name="q" class="searchBar" />
      <button type="submit" id="search-button" class="button">
        <img src="/static/assets/search.png" class="iconImg" />
      </button>
    </form>
  </div>

  <div class="navRightDiv">
    {% if user.is_authenticated %}
    <div>
      <a href="../logout" class="button"> Logout </a>
    </div>
    {% else %}

    <div>
      <a href="/signup">Sign up</a>
    </div>
    {% endif %}
  </div>
</div>
