<div class="sideBar boderDiv">
{% if user.is_authenticated %}  
   
    <div >
      <div>Chat rooms </div>
        <div class="chatRoomList">
        {% for following in following_list %}<a href="/chat/{{ following.chat_room }}"> <div class="button"> 
          {{ following.user }}
        </div>  </a>
        {% endfor %}
      </div>
        
    </div>
  
  {% else %}
    <div class="callout">
      <p>This is a demo Page</p>
      <p>LogIN to see the full page</a></p>
    </div>
  {% endif %}
</div>