{% extends "./register_base.html" %} {% block content %} {% if form.errors %}
<p>Invalid credentials! Please Try again</p>
{% endif %}

<div id="register-form" class="loginForm">
  <form action="/login/" method="post">
    {% csrf_token %}
    <div class="column">
      <div>
        <input
          class="loginInput boderDiv"
          type="text"
          name="username"
          placeholder="username"
        />
      </div>
      <div>
        <input
          class="loginInput boderDiv"
          type="password"
          name="password"
          placeholder="password"
        />
      </div>
      <div>
        <button type="submit" class="button" id="register-button">login</button>
      </div>
    </div>
  </form>
</div>

{% endblock %}
